/* Estilos generales */
.home {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #eaeff8;
}

.button-container {
    display: flex;
    justify-content: center; /* Alineación horizontal */
    gap: 20px; /* Espacio entre los botones */
    margin-bottom: 20px;   
}

/* Estilos para botón */
.banner-button {
    background-color: #1882f3; 
    color: white;
    border: none;
    padding: 10px 30px;
    font-size: 18px;
    font-weight: normal;
    border-radius: 20px;
    cursor: pointer;
    width: 300px; 
    text-align: center;
    box-shadow: 0px 4px 6px rgba(99, 184, 2, 0.562);
    transition: all 0.3s ease;
}

.banner-button:hover {
    background-color: #0959b4; 
    box-shadow: 0px 4px 6px rgba(43, 80, 1, 0.822);
}

/* Estilos de las secciones */
section {
    margin-bottom: 20px;
}

/* Estilos para las listas */
ul {
    list-style-type: none;
    padding-left: 0;
}

ul li {
    margin-bottom: 5px;
}

/* Sección Info del centro médico */  
.about-center {  
    background-color: #ffffff;  
    border-radius: 50px;  
    text-align: start;  
    width: 80%; /* Establece el ancho al 90% */  
    margin: 0 auto; /* Centra la sección horizontalmente */  
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* (Opcional) Sombra para darle dimensión */  
}

/* Botón "Subir" */
.scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #007bff;
    color: white;
    padding: 20px 20px;
    border: none;
    border-radius: 50%;
    font-size: 20px;
    cursor: pointer;
    box-shadow: 0px 4px 6px rgba(99, 184, 2, 0.596);
    transition: all 0.3s ease;
}

.scroll-to-top:hover {
    background-color: #0056b3;
    box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.2);
}

/* Media Query para pantallas pequeñas */
@media (max-width: 768px) {
    /* Alineación de los botones en columna */
    .button-container {
        flex-direction: column; /* Alineación vertical */
        gap: 15px; /* Espacio entre los botones */
    }

    /* Ajustar el tamaño de los botones para pantallas más pequeñas */
    .banner-button {
        width: 90%; /* Hacer los botones más anchos en móviles */
        
    }

    /* Botón "Subir" en móviles */
    .scroll-to-top {
        bottom: 20px;
        font-size: 18px; /* Hacer el texto un poco más pequeño */
        padding: 12px 20px;
    }
}

.banner {  
    width: 100%;   
    height: auto; 
    display: block; /* Elimina el espacio debajo de la imagen */  
}

.about-center {  
    background-color: #ffffff;  
    border-radius: 50px;  
    text-align: left; /* Líneas de texto alineadas a la izquierda */  
    width: 90%;   
    max-width: 1200px;  
    margin: 0 auto; /* Centra la sección */  
    padding: 20px;   
}  

.about-content {  
    margin: 0 auto; /* Centra el bloque dentro de about-center */  
    max-width: 800px; /* Limita el ancho máximo del contenido */  
}  

.about-image {  
    width: 50px; /* Ajusta la imagen */  
    height: auto;  
    
}  