.appointment-form {  
    width: 100%;                     /* Asegura que el formulario use el ancho disponible */  
    padding: 10px;                   /* Espaciado interno */  
    background-color: white;         /* Color de fondo del formulario */  
    border-radius: 10px;             /* Bordes redondeados */  
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); /* Sombra para darle profundidad */  
    margin: 0 auto;                  /* Centra el formulario horizontalmente */  
}  


div {  
    margin-bottom: 10px;             /* Espacio entre los campos del formulario */  
}  

label {  
    margin-bottom: 5px;              /* Espacio entre la etiqueta y el campo */  
    font-weight: bold;               /* Negrita para las etiquetas */  
    text-align: left;                /* Alineación a la izquierda */  
}  

input, select {  
    padding: 10px;                   /* Espaciado interno en los campos */  
    border: 1px solid #919191;          /* Borde de los campos */  
    border-radius: 5px;              /* Bordes redondeados en los campos */  
    font-size: 16px;                 /* Tamaño de fuente en los campos */  
}  

.appointment-form button {  
 
    color: white;  
    background-color: #007bff;  
    border: none;  
    border-radius: 8px;  
    cursor: pointer;  
    font-size: 16px;  
    width: 200px; 
    
}  

.appointment-form button:hover {  
    background-color: #0056b3;  
}

form {  
    display: flex;  
    flex-direction: column;  
    align-items: center; 
}