.modal-overlay {  
    position: fixed;  
    top: 0;  
    left: 0;  
    right: 0;  
    bottom: 0;  
    background: rgba(0, 0, 0, 0.6);  
    display: flex;  
    justify-content: center;  
    align-items: center;  
    z-index: 1000;  
}  

.modal-content {  
    background: white;  
    padding: 20px;  
    border-radius: 8px;  
    width: 90%;  
    max-width: 500px; /* Ajusta el tamaño según sea necesario */  
    position: relative; /* Necesario para el botón de cierre */  
}  

.modal-close {  
    background: transparent;  
    border: none;  
    font-size: 1.5rem;  
    cursor: pointer;  
    position: absolute; /* Posicionar dentro del modal */  
    top: 10px; /* Distancia desde arriba */  
    right: 10px; /* Distancia desde la derecha */  
    color: #333; /* Color del texto del botón */  
}